# install direnv.net and add project-specific exports here...
#export AWS_PROFILE="foo"
#export AWS_DEFAULT_REGION="us-east-2"

# App specific
#export NODE_ENV="development"
#export GIN_MODE="debug"

# keep sensitive things out of git
#source_env .secrets
